@tailwind base;
@tailwindcss components;
@tailwind utilities;

:root {
  --color-primary: #fbeaeb;
  --color-secondary: #2f3c7e;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  content: url(/dateIcon.svg);
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
}

body {
  color: var(--color-secondary);
  background: var(--color-primary);
}

.forms2 {
  width: min(100%, 420px);
  margin: 0 auto;
  padding: 25px 0;
}

.padding-0 {
  padding-right: 0;
}

.footerDiv {
  position: absolute;
  bottom: 0px;
}

#home-page footer {
  display: none !important;
}

#event-page footer {
  display: none !important;
}

.content {
  flex-grow: 1;
}

.display {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
