@tailwind base;
@tailwindcss components;
@tailwind utilities;

:root {
  --color-primary: #fbeaeb;
  --color-secondary: #2f3c7e;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  content: url(/dateIcon.svg);
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
}

body {
  color: var(--color-secondary);
  background: var(--color-primary);
}

.footerDiv {
  position: absolute;
  bottom: 0px;
}

.tailwind-form-control {
  @apply border rounded-full h-10 w-full p-3.5;
}

.tailwind-form-control-errors {
  @apply border border-red-500 rounded-full h-10 w-full p-3.5 focus:outline-none focus:ring-0 focus:border-2 focus:border-red-500;
}

.validation-feedback {
  @apply text-red-500 text-xs;
}

.divGrid {
  @apply grid grid-cols-3;
}

.centered {
  @apply flex justify-center items-center;
}

.inputText {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.blueButton {
  @apply bg-blue-800 hover:bg-blue-500 text-white h-10 w-full rounded-full mb-4;
}

.blue {
  @apply bg-blue-800 hover:bg-blue-500;
}

#home-page footer {
  display: none !important;
}

#event-page footer {
  display: none !important;
}

.content {
  flex-grow: 1;
}

.display {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
